html,
body,
main {
	height: 100%;
}
html {
	font-size: 10px;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.6rem;
	font-family: var(--body-font);
	background: #200c23;
	color: #f4f4f4;
}
.__capsule {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2rem;
	margin: auto;
	max-width: 76.8rem;
}

.Container {
	padding-top: 6rem;
}

@media only screen and (max-width: 76.8rem) {
	.Container {
		padding-top: 0;
		width: calc(100vw - var(--menu-sliver));
		word-break: break-word;
	}
}
