.Prompt {
	animation: oscillate 300ms ease-in-out infinite, turn-on 1s ease-in;
	opacity: 1;
	position: relative;
	z-index: 1;
	height: 100vh;
}

@keyframes oscillate {
	0% {
		opacity: 0.88;
	}
	15% {
		opacity: 0.92;
	}
	60% {
		opacity: 0.90;
	}
	80% {
		opacity: 0.96;
	}
	100% {
		opacity: 0.88;
	}
}

@keyframes turn-on {
	0% {
		opacity: 0;
		background: purple;
		transform: scale(0, 0);
	}
	30% {
		opacity: 1;
		transform: scale(1, 0.01);
	}
	100% {
		background: transparent;
		transform: scale(1, 1);
	}
}
